.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: grey;
    font-size: large;
    text-align: justify;
}
.container a {
  color: white;
  text-decoration: none;
}
.loginInput{
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 0px;
    color: #1a0458;
}
.loginSubmit{
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.img-wrap {
    width: 100%;
    height: 300px;
    position: relative;
    /* display:inline-block; */
    background-position: center;
    overflow: hidden;
    margin: 0;
  }
  .centreBtn{
    /* display:block; */
    position:absolute;
    padding-left: 45%;
    
    font-size: 24px;
}

  .loginBanner{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }

  .form {
    margin: 1rem 0;
    height: 15rem;
    overflow: auto;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
    outline: none;
    padding: 8px 8px;
  }
  
  .invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
    outline: none;
  }
  
  .invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
  }
  
  .errorText {
    color: #b40e0e;
  }
  