* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-p{
  padding: 30px 50px;
}
.heading-h1 {
  color: rgb(6, 6, 93);
} 
::selection{
  background-color: #eaa451;
 color: white;
}
::-webkit-scrollbar{
  width: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #eaa451;
}