.blogs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.blog-body {
     width: 48%;
     padding: 10px;
     border: 1px solid grey;
     border-radius: 1rem;
     cursor: pointer;
     margin: 15px 5px;
}
.blog-body .blog-img img{
     width:100%;
     border-radius: 1rem;
}
.blog-content{
  padding: 20px 30px;
 text-align: justify;
}
.blog-content h1{
    font-size: 22px;
    margin-bottom: 20px;
}
.blog-content p{
    font-size: 20px;
    color: grey;
}
.blog-info {
  display: flex;
  padding: 20px 10px;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  color:#eaa451;
  border-top: 2px solid grey;
  margin: 0px 20px;
}
.blog-info p{
    color: grey;
}