.headers {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: top center;
    background-image: url('https://bookland.dexignzone.com/react/demo/static/media/bg3.8f81bf23084cbcda3d28.jpg');
   color:rgba(6, 6, 93,0.5);
}
.headers::before{
    content: '';
    width: 100%;
    height: 350px;
    background:#eaa451;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
} 
.headers::after{
        background-color: #fff;
        -webkit-clip-path: polygon(100% 0,0 100%,100% 100%);
        clip-path: polygon(100% 0,0 100%,100% 100%);
        content: "";
        height: 350px;
        opacity: .15;
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
}
.headerContainer {
    width: 100%;
    height: 100%;
    padding: 100px;
  position: absolute;
}
.headerContainer h1{
    color:rgb(249, 249, 249);
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 5rem;
}
