.recomend{
    background-color: white;
    margin-bottom: 50px;
    
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}
.title p{
   color: grey;
   font-size: 18px;
   justify-content: center;
   padding: 5px 15rem;
   margin-top: 1rem;
}
.card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.card {
    text-align: center;
    cursor: pointer;
}
.card:hover{
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.13);
}
.card img { 
    border-radius: 10px;
    width: 250px;
    height: 360px;
}
.card .book{
    text-align: center;
    color: #eaa451;
    font-size: 22px;
}
.book .normal-btn span {
   margin-right: 10px;
}
.book .normal-btn {
    width: 150px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 25px;
}