.news {
    position: relative;
}
.news-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
}
.some-deatils {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 30px 200px;
}
.some-deatils .box {
   margin: 20px;
   justify-content: center;
   text-align: center;
   line-height: 3rem;
   animation: boxmove;
   animation-duration: 3s;
}
@keyframes boxmove {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.some-deatils .box h1 {
    color: rgb(6, 6, 93);
    font-size: 36px;
    font-weight: 1000;
    transition: 2s;
}
.some-deatils .box p{
    color: grey;
    font-size: 22px;
    font-weight: 500;
}
.some-deatils .box .innerbox{
    font-size: 36px;
    color: #eaa451;
    border: 3px dashed #eaa451;
    padding: 50px;
    margin: 20px;
}
.some-deatils .box .innerbox:hover{
    animation: moveInner;
    animation-duration: 3s;
    cursor: pointer;
}
@keyframes moveInner {
     0%{
       transform: rotate3d(0deg);
     }
     50%{
        transform: rotate(180deg);
     }
     75%{
        transform: rotate(0deg);
     }
     100%{
        font-size: 36px;
     }
}
.news-subscribe {
    display: flex;
    background-image: url('https://bookland.dexignzone.com/react/demo/static/media/bg1.c02b4b2b44fd4a877b87.jpg');
    height: 15rem;
    padding: 50px;
    background-position: top center;
    background-size: cover;
}
.news-subscribe::after{
    content: ' ';
    background-color: rgb(6, 6, 93);
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.news-subscribe .text{
    color: white;
    font-size: 22px;
    font-weight: 900;
    width: 60%;
    padding: 20px;
    z-index: 1;
}
.news-subscribe .subscibe{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1;
}
.news-subscribe .subscibe input {
    height: 60px;
    width: 30rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}
.news-subscribe .subscibe .normal-btn {
    position: absolute;
    right: -1.7rem;
    bottom: 2.70rem;
    align-items: center;
}
.news-subscribe .subscibe .normal-btn:hover{
    border: none;
    background-color: rgb(6, 6, 93);
    color: white;
}
