.button {
    font: inherit;
    border: 1px solid #e69735;
    border-radius: 0.2rem;
    background: #e69735;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:focus {
    outline: none;
  }
  
  button:hover {
    background-color: #E58C23;
    

  }